.navigation button {
    background-color: transparent;
    border: none;
    padding: 0 10px;
}

.nav-link {
    background-color: tan;
    margin: 5px;
  }
  
  .nav-link--active {
    background-color: pink;
  }
